body {
	background: black;
	background-image: url(https://images4.alphacoders.com/283/thumb-1920-283338.jpg);
	
	height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	margin-top: 300px;

}

button {
	width: 80%;
	height: 40px;
	margin: 0 10%;
	float: left;
}

button.answerchoice {
	display: none;
}

button:hover {
	background-color: rgb(226, 8, 8);
	color: rgb(158, 152, 152);
}

.answers div {
	margin: 0 auto;
}

h1, h2, h3, .question {
	text-align: center;
	color: rgb(0, 0, 0);
	background: rgba(204, 204, 204, 0.5);
}
p {
	text-align: center;
	color: rgb(0, 0, 0);
	background: rgba(204, 204, 204, 0.5);

.quiz {
text-align: center;
z-index: 2;
padding-bottom: 50px;
background: rgba(204, 204, 204, 0.5);

}